body {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100%;
}

.circle:hover {
  cursor: pointer;
}

.tooltip {
  background-color: aliceblue;
  box-sizing: border-box;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  border-radius: 7px;
  text-align: center;
  align-content: center;
  font-size: 12px;
  height: 57px;
  width: 75px
}

#control-panel {
  background: rgba(255, 255, 255, 0.7);
  margin: 100px 0 0 20px;
  padding: 10px;
  width: 260px;
  height: 80px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


#toggleSensorIcons,
#toggleMrSvg,
#toggleUavPanel {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#label0,
#label1,
#label2 {
  font-family: sans-serif;
  display: inline-block;
  margin: 0;
}

.leaflet-top {
  pointer-events: unset;
}

#uav-panel {
  background: rgba(255, 255, 255, 0.7);
  margin: 20px;
  height: 94%;
  width: 200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#title {
  width: 200px;
  font-family: sans-serif;
  text-decoration: underline;
}

.uavData {
  width: 200px;
  font-family: sans-serif;
  animation-name: blinking;
  animation-duration: 2s;
}

.fadeIn {
  animation-name: fadein;
  animation-duration: 1s;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 1s;
}

[styleClass=pulse] {
  animation: pulse 1.5s infinite;
}

@keyframes blinking {
  0% {
    color: black;
  }

  50% {
    color: red;
  }

  100% {
    color: black;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    stroke: #2f4f4f;
  }

  50% {
    stroke: blue;
  }

  100% {
    stroke: #2f4f4f;
  }
}