body {
  margin: 0;
}

html,
body {
  height: 100%;
}

#map {
  height: 100%;
  box-sizing: border-box;
  width: 85%;
  float: left;
}

.sidebar {
  width: 15%;
  float: right;
}

#title {
  text-align: center;
  font-family: sans-serif;
}

#toggleSensorIcons {
  position: absolute;
  top: 80px;
  left: 12px;
  z-index: 1000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 25px;
}

#toggleMrSvg {
  position: absolute;
  top: 110px;
  left: 12px;
  z-index: 1000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 25px;
}

#label0 {
  color: black;
  font-size: 15px;
  font-style: italic;
  text-decoration-line: underline;
  z-index: 10000;
  position: absolute;
  top: 100px;
  left: 50px;
  font-weight: bold;
  font-family: sans-serif;
}

#label1 {
  color: black;
  font-size: 15px;
  font-style: italic;
  text-decoration-line: underline;
  z-index: 10000;
  position: absolute;
  top: 70px;
  left: 50px;
  font-weight: bold;
  font-family: sans-serif;
}

.uavData p {
  padding: 0 50px;
}

@keyframes blinking {
  0% {
    color: black;
  }

  50% {
    color: red;
  }

  100% {
    color: black;
  }
}

li {
  color: black;
  animation-name: blinking;
  animation-duration: 0.833s;
  animation-iteration-count: 3;
}